.recipe-form-time-select {
  display: flex;

}
.recipe-form-time-select > select {
  display: flex;
  width: 100%;
  padding: 0 10px;
}

.recipe-form-time-select > select:first-child {
  @apply mr-2 ml-0

}

.recipe-form-time-select > select {
   @apply border rounded mb-2 p-0 px-2 ml-2 bg-white;
   min-height: 26px;

  /* margin-left: 12px; */
  /* border-radius: 2px; */
  /* background-color: white; */
  /* border: 1px solid #dfdfdf; */
}

body {
}
