<GalleyWeb.AdminLive.TopBar.topbar socket={@socket} />

<div id="admin-settings" class="page_wrapper">
  <h2 class="heading text-center mb-24">Set your settings 'min!</h2>

  <div class="flex w-full justify-center">
    <button class="tile p-8 center">Export the database</button>
  </div>
</div>
