<aside class="w-48 bg-neutral-50 py-2 border-r">
  <ul>
    <%=  for l <- sidebar_links(@conn) do %>
      <li class="border-b">
        <div class="p-4"> <%= link l.name, to: l.link %> </div>
      </li>
    <% end  %>
  </ul>
</aside>
