<%= if @current_user do %>
  <li class="pr-2"><%= @current_user.email %></li>
  <li class="pr-2"><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></li>
  <li class="pr-2"><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li class="pr-2"><%= link "Register", to: Routes.user_registration_path(@conn, :new) %></li>
  <li class="pr-2"><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></li>
<% end %>
