  <.live_component
    module={GalleyWeb.RecipeLive.FormComponent}
    id={@recipe.id || :new}
    title={@page_title}
    action={@live_action}
    formState={@formState}
    recipe={@recipe}
    return_to={Routes.recipe_index_path(@socket, :index)}
  />



